.head {
  margin-bottom: 20px;
}

.articleview {
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article {
  width: 100%;
  
}

.article-content {
  background-color: rgba(var(--semi-grey-5), 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.article-main {
  max-width: 1280px;
  display: flex;
  align-items: center;
}

.summary {
  margin: 20px 20px 0px 20px;
  padding: 20px 20px 20px 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.summary-title {
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}

.summary-title img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.summary-title span {
  font-size: 15px;
  font-weight: 700;
}
.summary-content {
  display: block;
}

.summary-content span {
  font-size: 0.875rem;
  vertical-align: middle;
}

.nav {
  width: 20%;
  height: 100%;
  align-self: flex-start;
  position: sticky;
  top: 65px;
  background-color: rgba(var(--semi-grey-5), 0.1);
  margin: 0 10px;
  border-radius: 5px;
}

.article-comment {
  background-color: rgba(var(--semi-grey-5), 0.1);
  margin-top: 10px;
  padding: 10px;
}

.isloading {
  display: flex;
  height: 100vh;
  // 中央居中
  align-items: center;
  justify-content: center;
}
