.articleview {
  padding-top: 100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center; /*由于flex-direction: column，因此align-items代表的是水平方向*/
  justify-content: center;
}



.article-content {

  width: 100%;
  display: flex;
  justify-content: center;
}

.article {
  max-width: 1280px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.nav {
  width: 20%;
  height: 100%;
  align-self: flex-start;
  position: sticky;
  top: 85px;
  background-color: rgba(var(--semi-grey-5), .1);
  margin: 0 10px;
}
