.markdown-navigation {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    width: 100%;
    overflow: hidden;
  }
  
  .markdown-navigation .title-anchor {
    display: block;
    transition: all 0.2s;
    margin: 0.8em 0;
    font-weight: lighter;
    line-height: 2em;
    padding-right: 1em;
    cursor: pointer;
  }
  
  .markdown-navigation .title-anchor:hover{
    color: #007fff;

  }
  .markdown-navigation .title-anchor.active {
    background-color: #0000;
    text-decoration: inherit;
  }
  
  .markdown-navigation .title-anchor small {
    margin: 0 0.8em;
  }
  
  .markdown-navigation .title-level1 {
    color: #007fff;
    font-size: 1.2em;
    padding-left: 1em;
    font-weight: normal;
  }
  
  .markdown-navigation .title-level2 {
    font-size: 1em;
    color: #007fff;
    padding-left: 1.5em;
    font-weight: normal;
  }
  
  .markdown-navigation .title-level3 {
    font-size: 0.9em;
    padding-left: 3em;
    font-weight: normal;
  }
  
  .markdown-navigation .title-level4 {
    font-size: 0.8em;
    padding-left: 5em;
  }
  
  .markdown-navigation .title-level5 {
    font-size: 0.8em;
    padding-left: 6.5em;
  }
  
  .markdown-navigation .title-level6 {
    font-size: 0.8em;
    padding-left: 8em;
  }
  
  -navigation .title-level5 {
    font-size: 0.8em;
    padding-left: 6.5em;
  }
  
  .markdown-navigation .title-level6 {
    font-size: 0.8em;
    padding-left: 8em;
  }
  
  