.result {
  font-size: large;
  .figure{
    text-align: center;
    width: 100%;
  }
}
.md-editor-dark {
  --md-bk-color: rgba(var(--semi-grey-5), 0) !important;
}

.md-editor {
  --md-bk-color: rgba(var(--semi-grey-5), 0) !important;
}

.md-editor-catalog-active>span {
  color: rgba(var(--semi-blue-7), 1) !important;
}

.md-editor-catalog-link span:hover {
  color: rgba(var(--semi-blue-7), 1) !important;
}


.medium-zoom-image {
  margin: 0 auto;
}