.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.content {
    max-width: 80%;
    @media screen and (max-width: 768px) {
        max-width: 100%;
    }
}

.badge {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}


p {
    margin: 0;
}